.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}

.todolist {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #d993ff;
  padding: 15px;
}

.task {
  font-weight: bold;
}
.task-done {
  opacity: 0.5;
  text-decoration: line-through;
}

.btn-active {
  background-color: blueviolet;
  color: white;
  border: 2px solid blueviolet;
  border-radius: 3px;
}

.input-error {
  border: 2px solid red;
  outline: none;
}